body{
  font-family: Arial, Helvetica, sans-serif;
  
}
#main-heading{
  text-align: center;
}

.grid-container{
  display: grid;
  grid-template-columns: 200px 200px 120px;
  column-gap: 100px;
  row-gap: 10px;
  margin-top: 10px;
  align-items: center;
  margin-left: 250px;
}

#todo-input,#todo-date{
  font-size: 15px ;
  padding: 10px 5px;
}
.btn-delete{
  background-color: rgb(122, 18, 18);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}

.btn-todo{
  background-color: rgb(4, 141, 4);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 15px 0px;
  cursor: pointer;
}